@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h1>ADD Client</h1>
<hr />
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ClientName) <span> | </span> 
  @Html.TextBoxFor(model => model.ClientName) <span> | </span>

  @Html.LabelFor(model => model.ClientDesc) <span> | </span>
  @Html.TextBoxFor(model => model.ClientDesc) <span> | </span>

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
<hr />
  <input type="submit" value="ADD" />
}