@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client

<h2>About @Html.DisplayFor(model => model.ClientName):</h2>
<hr />

<p>@Html.DisplayFor(model => model.ClientDesc)</p>
<hr />
<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Back to Clients list", "Index")</p>